.glow-container {
  --spread: 100;
  --blur: 12;
}

.glow-card {
  --active: 0;
  --start: 0;
}

.glow-card:is(:hover, :focus-visible) {
  z-index: 2;
}

.glows {
  pointer-events: none;
  position: absolute;
  inset: 0;
  filter: blur(calc(var(--blur) * 1px));
}

.glows::after,
.glows::before {
  content: "";
  background: conic-gradient(from 180deg at 50% 70%,
      #16f2b3 0deg,
      #8228ec 72deg,
      #16f2b3 144deg,
      #0025ba 216deg,
      #16f2b3 288deg,
      #fafafa 1turn);
  background-attachment: fixed;
  position: absolute;
  inset: -2px;
  border-radius: 12px;
  mask: linear-gradient(#0000, #0000),
    conic-gradient(from calc((var(--start) - (var(--spread) * 0.5)) * 1deg),
      #000 0deg,
      #fff,
      #0000 calc(var(--spread) * 1deg));
  mask-composite: intersect;
  mask-clip: padding-box, border-box;
  opacity: var(--active);
  transition: opacity 0.3s ease;
}

.glow-card::after {
  content: "";
  pointer-events: none;
  position: absolute;
  inset: 0;
  background: conic-gradient(from 180deg at 50% 70%,
      #16f2b3 0deg,
      #8228ec 72deg,
      #16f2b3 144deg,
      #0025ba 216deg,
      #16f2b3 288deg,
      #fafafa 1turn);
  background-attachment: fixed;
  border-radius: 12px;
  opacity: var(--active);
  transition: opacity 0.3s ease;
  mask: linear-gradient(#0000, #0000),
    conic-gradient(from calc((var(--start) - (var(--spread) * 0.2)) * 1deg),
      #0000 0deg,
      #fff,
      #0000 calc(var(--spread) * 0.4deg));
  filter: brightness(1.8) saturate(1.5);
  mask-clip: padding-box, border-box;
  mask-composite: intersect;
}
